@model CEEEPortal.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TwoColumnSection
{
    <div class="main-content-wrapper">
        <h2 style="margin-left: 20px; margin-top: 7px;">Reset Password</h2>
        @using (Html.BeginForm("ResetPassword","Account"))
        {
            <div id="MainSection">
                <div>
                    <div class="label" style="width: 240px;">Reset Password</div>
                <div style="clear: both;"></div>
                </div>
                <div>
                    @Html.Label("Email", new { @class = "label" })
                    @Html.TextBox("Email", null, new { @class = "textBox2" })<span class="error" style="float:left">@Html.ValidationMessageFor(p=>p.Email)</span>
                    <div style="clear: both;"></div>
                </div>
                <div style="width: 350px;">
@*                    <div>
                        @Html.Label("Username", new { @class = "label" })
                        @Html.TextBox("Username", null, new { @class = "textBox2" })<span class="error" style="float:left">@Html.ValidationMessageFor(p=>p.Username)</span>
                        <div style="clear: both;"></div>
                    </div>*@
                    <div>
                        <input type="submit" value="Reset Password" class="btnSubmitRightJustify" />
                    </div>
                </div>
            </div>
        }
        <div id="RightColSection">
            &nbsp;
        </div>
        <div style="clear: both;"></div>
    </div>
}